.header-slider
 padding: 20px 0
 &__img
  height: 502px
  overflow: hidden
  img
   width: 100%

/*кнопка назад*/
.header-prev
 // background: url('../../assets/img/icons/arrow-left.png') no-repeat center
 // background-size: 70%
 left: 5%
 bottom: 5%

/*кнопка вперед*/
.header-next
 right: 5%
 bottom: 5%

@media screen and (max-width: 992px) 
 .header-slider
  &__img
   img
    width: auto

  