@import '../../assets/fonts.scss' 
@import '../../assets/vars.sass' 

.subscribe
 text-align: center
 padding-bottom: 0
 &-title
  text-align: center
 &-btn
  button
   border: 1px solid $secondGrey
   background-color: transparent
   font-size: 19px
   padding: 0
   height: 35px
   &:first-child
    color: $secondGrey
    width: 139px
    &:hover
     color: $mainBlack
     background-color: $mainOrange
   &:last-child
    margin-left: 10px
    width: 121px
    color: $mainOrange
    &:hover
     color: $mainBlack
     background-color: $mainOrange
