@font-face {
 font-family: 'Helvetica Neue';
  src: local('Helvetica Neue Bold Condensed'), local('Helvetica-Neue-Bold-Condensed'),
  url('./fonts/HelveticaNeueBoldCondensed/HelveticaNeueBoldCondensed.woff2') format('woff2'),
  url('./fonts/HelveticaNeueBoldCondensed/HelveticaNeueBoldCondensed.woff') format('woff'),
  url('./fonts/HelveticaNeueBoldCondensed/HelveticaNeueBoldCondensed.ttf') format('truetype');
 font-weight: 700;
 font-style: normal;
}
@font-face {
 font-family: 'Helvetica Neue';
  src: local('Helvetica Neue Medium'), local('Helvetica-Neue-Medium'),
  url('./fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff2') format('woff2'),
  url('./fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('./fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.ttf') format('truetype');
 font-weight: 500;
 font-style: normal;
}
// @font-face {
//  font-family: 'Helvetica Neue Condenced';
//   src: url('./fonts/HelveticaNeueCondenced/HelveticaNeue-Condensed.eot');
//   src: url('./fonts/HelveticaNeueCondenced/HelveticaNeue-Condensed.eot?#iefix') format('embedded-opentype'),
//   url('./fonts/HelveticaNeueCondenced/HelveticaNeue-Condensed.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
// }
@font-face {
 font-family: 'Helvetica Neue Cyr Bold';
  src: url('./fonts/HelveticaNeueCyrBold/HelveticaNeueCyr-Bold.eot');
  src: url('./fonts/HelveticaNeueCyrBold/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/HelveticaNeueCyrBold/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('./fonts/HelveticaNeueCyrBold/HelveticaNeueCyr-Bold.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Minion Pro Regular';
  src: url('./fonts/MinionPro-Regular/MinionPro-Regular.eot');
  src: url('./fonts/MinionPro-Regular/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/MinionPro-Regular/MinionPro-Regular.woff') format('woff'),
  url('./fonts/MinionPro-Regular/MinionPro-Regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@mixin boldHelvetica{
 font-family: 'Helvetica Neue Bold Condensed', sans-serif;
 font-weight: 700;
}
@mixin mediumHelvetica{
 font-family: 'Helvetica Neue Medium', sans-serif;
 font-weight: 500;
}
// @mixin boldHelveticaCyr{
//  font-family: 'Helvetica Neue Condenced', sans-serif;
// }
@mixin boldHelveticaCyr{
 font-family: 'Helvetica Neue Cyr Bold', sans-serif;
}
@mixin regularMinion{
 font-family: 'Minion Pro Regular', sans-serif;
}